body, html {
  margin: 0;
}

.container {
  max-width: 1280;
}

.b1 *, .b1 *::before, .b1 *::after {
  content: '';
}

.b1 *, .b1 *::before, .b1 *::after {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.b1 {
  --hue-sky: 185;
  --saturation-sky: 92%;
  --lightness-sky: 70%;
  --color-sky-top: hsl(var(--hue-sky), var(--saturation-sky), var(--lightness-sky));
  --color-sky-bottom: hsl(var(--hue-sky), -webkit-calc(var(--saturation-sky) + 8%), -webkit-calc(var(--lightness-sky) + 30%));
  --color-sky-bottom: hsl(var(--hue-sky), calc(var(--saturation-sky) + 8%), calc(var(--lightness-sky) + 30%));
  --hue-cloud: 180;
  --saturation-cloud: 15%;
  --lightness-cloud: 96%;
  --color-cloud-lightest: hsl(-webkit-calc(var(--hue-cloud) - 3), -webkit-calc(var(--saturation-cloud) + 12%), -webkit-calc(var(--lightness-cloud) + 10%));
  --color-cloud-lightest: hsl(calc(var(--hue-cloud) - 3), calc(var(--saturation-cloud) + 12%), calc(var(--lightness-cloud) + 10%));
  --color-cloud-light: hsl(var(--hue-cloud), var(--saturation-cloud), var(--lightness-cloud));
  --color-cloud-dark: hsl(-webkit-calc(var(--hue-cloud) + 6), -webkit-calc(var(--saturation-cloud) + 12%), -webkit-calc(var(--lightness-cloud) - 8%));
  --color-cloud-dark: hsl(calc(var(--hue-cloud) + 6), calc(var(--saturation-cloud) + 12%), calc(var(--lightness-cloud) - 8%));
  --color-cloud-darkest: hsl(-webkit-calc(var(--hue-cloud) + 11), -webkit-calc(var(--saturation-cloud) + 6%), -webkit-calc(var(--lightness-cloud) - 18%));
  --color-cloud-darkest: hsl(calc(var(--hue-cloud) + 11), calc(var(--saturation-cloud) + 6%), calc(var(--lightness-cloud) - 18%));
  position: relative;
}

.b1-container {
  width: 800px;
  height: 600px;
  margin: auto;
}

.b1-sky {
  width: 800px;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color-sky-top)), to(var(--color-sky-bottom)));
  background: -webkit-linear-gradient(var(--color-sky-top) 0%, var(--color-sky-bottom) 100%);
  background: -o-linear-gradient(var(--color-sky-top) 0%, var(--color-sky-bottom) 100%);
  background: linear-gradient(var(--color-sky-top) 0%, var(--color-sky-bottom) 100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.b1-sun {
  position: absolute;
}

.b1-smoke {
  position: absolute;
}

.b1-clouds__bottom {
  height: 20%;
  width: 100%;
}

.b1-clouds__middle {
  height: 30%;
  width: 100%;
  position: relative;
}

.b1-clouds__top {
  height: 40%;
  width: 100%;
}

.b1-cloud {
  --cloud-size-g: 130px;
  --cloud-size-t: -webkit-calc(var(--cloud-size-g) * 1.3);
  --cloud-size-t: calc(var(--cloud-size-g) * 1.3);
  --cloud-size-m: -webkit-calc(var(--cloud-size-g) * 1);
  --cloud-size-m: calc(var(--cloud-size-g) * 1);
  --cloud-size-b: -webkit-calc(var(--cloud-size-g) * .7);
  --cloud-size-b: calc(var(--cloud-size-g) * .7);
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 50%;
  left: 50%;
  width: var(--cloud-size);
  height: -webkit-calc(var(--cloud-size) / 4);
  height: calc(var(--cloud-size) / 4);
  background-color: var(--color-cloud-light);
  -webkit-border-radius: -webkit-calc(var(--cloud-size) / 8);
          border-radius: calc(var(--cloud-size) / 8);
  border-bottom: var(--color-cloud-dark) -webkit-calc(var(--cloud-size) * .07) solid;
  border-bottom: var(--color-cloud-dark) calc(var(--cloud-size) * .07) solid;
}

.b1-cloud::before {
  position: absolute;
  background-color: var(--color-cloud-light);
  top: auto;
  bottom: -webkit-calc(var(--cloud-size) * .2);
  bottom: calc(var(--cloud-size) * .2);
  left: -webkit-calc(var(--cloud-size) * .15);
  left: calc(var(--cloud-size) * .15);
  width: -webkit-calc(var(--cloud-size) * .4);
  width: calc(var(--cloud-size) * .4);
  height: -webkit-calc(var(--cloud-size) * .4);
  height: calc(var(--cloud-size) * .4);
  -webkit-border-radius: -webkit-calc(var(--cloud-size) * .2);
          border-radius: calc(var(--cloud-size) * .2);
}

.b1-cloud::after {
  position: absolute;
  background-color: var(--color-cloud-lightest);
  top: auto;
  left: auto;
  bottom: -webkit-calc(var(--cloud-size) * .25);
  bottom: calc(var(--cloud-size) * .25);
  right: -webkit-calc(var(--cloud-size) * .175);
  right: calc(var(--cloud-size) * .175);
  width: -webkit-calc(var(--cloud-size) * .15);
  width: calc(var(--cloud-size) * .15);
  height: -webkit-calc(var(--cloud-size) * .15);
  height: calc(var(--cloud-size) * .15);
  -webkit-border-radius: -webkit-calc(var(--cloud-size) * .075);
          border-radius: calc(var(--cloud-size) * .075);
}

.b1-cloud_dark {
  width: -webkit-calc(var(--cloud-size) * .35);
  width: calc(var(--cloud-size) * .35);
  height: -webkit-calc(var(--cloud-size) * .35);
  height: calc(var(--cloud-size) * .35);
  top: auto;
  left: -webkit-calc(var(--cloud-size) * 0.2);
  left: calc(var(--cloud-size) * 0.2);
  bottom: -webkit-calc(var(--cloud-size) - -webkit-calc(var(--cloud-size) * 1.1));
  bottom: calc(var(--cloud-size) - calc(var(--cloud-size) * 1.1));
  -webkit-border-radius: -webkit-calc(var(--cloud-size) * .175);
          border-radius: calc(var(--cloud-size) * .175);
  position: absolute;
  background-color: var(--color-cloud-dark);
  border-bottom: var(--color-cloud-darkest) -webkit-calc(var(--cloud-size) * .04) solid;
  border-bottom: var(--color-cloud-darkest) calc(var(--cloud-size) * .04) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b1-cloud_dark::before {
  width: -webkit-calc(var(--cloud-size) * .25);
  width: calc(var(--cloud-size) * .25);
  height: -webkit-calc(var(--cloud-size) * .25);
  height: calc(var(--cloud-size) * .25);
  top: auto;
  left: -webkit-calc(var(--cloud-size) - -webkit-calc(var(--cloud-size) * 1.1));
  left: calc(var(--cloud-size) - calc(var(--cloud-size) * 1.1));
  bottom: 0;
  -webkit-border-radius: -webkit-calc(var( --cloud-size) * .175);
          border-radius: calc(var( --cloud-size) * .175);
  position: absolute;
  background-color: var(--color-cloud-dark);
  border-bottom: var(--color-cloud-darkest) -webkit-calc(var(--cloud-size) * .04) solid;
  border-bottom: var(--color-cloud-darkest) calc(var(--cloud-size) * .04) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b1-cloud_dark::after {
  width: -webkit-calc(var(--cloud-size) * .4);
  width: calc(var(--cloud-size) * .4);
  height: -webkit-calc(var(--cloud-size) * .4);
  height: calc(var(--cloud-size) * .4);
  top: auto;
  left: -webkit-calc(var(--cloud-size) * 0.2);
  left: calc(var(--cloud-size) * 0.2);
  bottom: -webkit-calc(var(--cloud-size) - -webkit-calc(var(--cloud-size) * 1.05));
  bottom: calc(var(--cloud-size) - calc(var(--cloud-size) * 1.05));
  -webkit-border-radius: -webkit-calc(var(--cloud-size) * .2);
          border-radius: calc(var(--cloud-size) * .2);
  position: absolute;
  background-color: var(--color-cloud-dark);
  border-bottom: var(--color-cloud-darkest) -webkit-calc(var(--cloud-size) * .04) solid;
  border-bottom: var(--color-cloud-darkest) calc(var(--cloud-size) * .04) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b1-cloud_medium {
  width: -webkit-calc(var(--cloud-size) * .5);
  width: calc(var(--cloud-size) * .5);
  height: -webkit-calc(var(--cloud-size) * .5);
  height: calc(var(--cloud-size) * .5);
  -webkit-border-radius: -webkit-calc(var(--cloud-size) * .25);
          border-radius: calc(var(--cloud-size) * .25);
  left: -webkit-calc(var(--cloud-size) * .4);
  left: calc(var(--cloud-size) * .4);
  top: auto;
  bottom: -webkit-calc(var(--cloud-size) * .04);
  bottom: calc(var(--cloud-size) * .04);
  position: absolute;
  background-color: var(--color-cloud-light);
  border-bottom: var(--color-cloud-dark) -webkit-calc(var(--cloud-size) * .04) solid;
  border-bottom: var(--color-cloud-dark) calc(var(--cloud-size) * .04) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b1-cloud_medium::before {
  width: -webkit-calc(var(--cloud-size) * .25);
  width: calc(var(--cloud-size) * .25);
  height: -webkit-calc(var(--cloud-size) * .25);
  height: calc(var(--cloud-size) * .25);
  left: -webkit-calc(var(--cloud-size) * 0.3);
  left: calc(var(--cloud-size) * 0.3);
  -webkit-border-radius: -webkit-calc(var(--cloud-size) * .175);
          border-radius: calc(var(--cloud-size) * .175);
  top: auto;
  bottom: -webkit-calc(var(--cloud-size) - -webkit-calc(var(--cloud-size) * 1.07));
  bottom: calc(var(--cloud-size) - calc(var(--cloud-size) * 1.07));
  position: absolute;
  background-color: var(--color-cloud-light);
  border-bottom: var(--color-cloud-dark) -webkit-calc(var(--cloud-size) * .04) solid;
  border-bottom: var(--color-cloud-dark) calc(var(--cloud-size) * .04) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b1-cloud_medium::after {
  width: -webkit-calc(var(--cloud-size) * .35);
  width: calc(var(--cloud-size) * .35);
  height: -webkit-calc(var(--cloud-size) * .35);
  height: calc(var(--cloud-size) * .35);
  left: -webkit-calc(var(--cloud-size) - -webkit-calc(var(--cloud-size) * 1.4));
  left: calc(var(--cloud-size) - calc(var(--cloud-size) * 1.4));
  -webkit-border-radius: -webkit-calc(var(--cloud-size) * .175);
          border-radius: calc(var(--cloud-size) * .175);
  top: auto;
  bottom: -webkit-calc(var(--cloud-size) - -webkit-calc(var(--cloud-size) * 1.05));
  bottom: calc(var(--cloud-size) - calc(var(--cloud-size) * 1.05));
  position: absolute;
  background-color: var(--color-cloud-light);
  border-bottom: var(--color-cloud-dark) -webkit-calc(var(--cloud-size) * .04) solid;
  border-bottom: var(--color-cloud-dark) calc(var(--cloud-size) * .04) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b1-cloud_light {
  width: -webkit-calc(var(--cloud-size) * .3);
  width: calc(var(--cloud-size) * .3);
  height: -webkit-calc(var(--cloud-size) * .3);
  height: calc(var(--cloud-size) * .3);
  top: auto;
  left: -webkit-calc(var(--cloud-size) * 0.3);
  left: calc(var(--cloud-size) * 0.3);
  bottom: -webkit-calc(var(--cloud-size) * .1);
  bottom: calc(var(--cloud-size) * .1);
  -webkit-border-radius: -webkit-calc(var(--cloud-size) * .15);
          border-radius: calc(var(--cloud-size) * .15);
  position: absolute;
  background-color: var(--color-cloud-lightest);
}

.b1-cloud_light::before {
  width: -webkit-calc(var(--cloud-size) * .25);
  width: calc(var(--cloud-size) * .25);
  height: -webkit-calc(var(--cloud-size) * .25);
  height: calc(var(--cloud-size) * .25);
  top: auto;
  left: -webkit-calc(var(--cloud-size) * 0.25);
  left: calc(var(--cloud-size) * 0.25);
  bottom: -webkit-calc(var(--cloud-size) - -webkit-calc(var(--cloud-size) * 1));
  bottom: calc(var(--cloud-size) - calc(var(--cloud-size) * 1));
  -webkit-border-radius: -webkit-calc(var(--cloud-size) * .125);
          border-radius: calc(var(--cloud-size) * .125);
  position: absolute;
  background-color: var(--color-cloud-lightest);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b1-cloud_light::after {
  width: -webkit-calc(var(--cloud-size) * .2);
  width: calc(var(--cloud-size) * .2);
  height: -webkit-calc(var(--cloud-size) * .2);
  height: calc(var(--cloud-size) * .2);
  top: auto;
  left: -webkit-calc(var(--cloud-size) * 0.25);
  left: calc(var(--cloud-size) * 0.25);
  bottom: -webkit-calc(var(--cloud-size) - -webkit-calc(var(--cloud-size) * .83));
  bottom: calc(var(--cloud-size) - calc(var(--cloud-size) * .83));
  -webkit-border-radius: -webkit-calc(var(--cloud-size) * .1);
          border-radius: calc(var(--cloud-size) * .1);
  position: absolute;
  background-color: var(--color-cloud-lightest);
}

.b1-cloud_1, .b1-cloud_4 {
  --cloud-size: -webkit-calc(var(--cloud-size-m) * 1);
  --cloud-size: calc(var(--cloud-size-m) * 1);
  left: 0;
}

.b1-cloud_2, .b1-cloud_5 {
  --cloud-size: -webkit-calc(var(--cloud-size-m) * .9);
  --cloud-size: calc(var(--cloud-size-m) * .9);
  left: 20%;
  top: 60%;
}

.b1-cloud_2::before, .b1-cloud_5::before {
  width: -webkit-calc(var(--cloud-size) * .6);
  width: calc(var(--cloud-size) * .6);
  height: -webkit-calc(var(--cloud-size) * .6);
  height: calc(var(--cloud-size) * .6);
  -webkit-border-radius: -webkit-calc(var(--cloud-size) * .3);
          border-radius: calc(var(--cloud-size) * .3);
  bottom: -webkit-calc(var(--cloud-size) * .02);
  bottom: calc(var(--cloud-size) * .02);
}

.b1-cloud_2::after, .b1-cloud_5::after {
  right: -webkit-calc(var(--cloud-size) * .55);
  right: calc(var(--cloud-size) * .55);
  bottom: -webkit-calc(var(--cloud-size) * .4);
  bottom: calc(var(--cloud-size) * .4);
}

.b1-cloud_2 .b1-cloud_dark::before, .b1-cloud_5 .b1-cloud_dark::before {
  width: -webkit-calc(var(--cloud-size) * .45);
  width: calc(var(--cloud-size) * .45);
  height: -webkit-calc(var(--cloud-size) * .45);
  height: calc(var(--cloud-size) * .45);
  left: -webkit-calc(var(--cloud-size) - -webkit-calc(var(--cloud-size) * 1.05));
  left: calc(var(--cloud-size) - calc(var(--cloud-size) * 1.05));
  bottom: -webkit-calc(var(--cloud-size) - -webkit-calc(var(--cloud-size) * 1.1));
  bottom: calc(var(--cloud-size) - calc(var(--cloud-size) * 1.1));
  -webkit-border-radius: -webkit-calc(var( --cloud-size) * .225);
          border-radius: calc(var( --cloud-size) * .225);
}

.b1-cloud_3 {
  --cloud-size: -webkit-calc(var(--cloud-size-m) * 1.1);
  --cloud-size: calc(var(--cloud-size-m) * 1.1);
  top: 30%;
  left: 35%;
  height: -webkit-calc(var(--cloud-size) / 3);
  height: calc(var(--cloud-size) / 3);
  width: -webkit-calc(var(--cloud-size) * 1.1);
  width: calc(var(--cloud-size) * 1.1);
  -webkit-border-radius: -webkit-calc(var(--cloud-size) * .15);
          border-radius: calc(var(--cloud-size) * .15);
}

.b1-cloud_3::after {
  right: -webkit-calc(var(--cloud-size) * .2);
  right: calc(var(--cloud-size) * .2);
  bottom: -webkit-calc(var(--cloud-size) * .15);
  bottom: calc(var(--cloud-size) * .15);
}

.b1-cloud_3 .b1-cloud_dark {
  bottom: -webkit-calc(var(--cloud-size) - -webkit-calc(var(--cloud-size) * 1.05));
  bottom: calc(var(--cloud-size) - calc(var(--cloud-size) * 1.05));
}

.b1-cloud_3 .b1-cloud_dark::before {
  left: -webkit-calc(var(--cloud-size) - -webkit-calc(var(--cloud-size) * .5));
  left: calc(var(--cloud-size) - calc(var(--cloud-size) * .5));
}

.b1-cloud_3 .b1-cloud_medium {
  width: -webkit-calc(var(--cloud-size) * .6);
  width: calc(var(--cloud-size) * .6);
  height: -webkit-calc(var(--cloud-size) * .6);
  height: calc(var(--cloud-size) * .6);
  -webkit-border-radius: -webkit-calc(var(--cloud-size) * .3);
          border-radius: calc(var(--cloud-size) * .3);
}

.b1-cloud_3 .b1-cloud_light {
  bottom: -webkit-calc(var(--cloud-size) * .2);
  bottom: calc(var(--cloud-size) * .2);
  width: -webkit-calc(var(--cloud-size) * .2);
  width: calc(var(--cloud-size) * .2);
  height: -webkit-calc(var(--cloud-size) * .2);
  height: calc(var(--cloud-size) * .2);
}

.b1-cloud_3 .b1-cloud_light::before {
  width: -webkit-calc(var(--cloud-size) * .3);
  width: calc(var(--cloud-size) * .3);
  height: -webkit-calc(var(--cloud-size) * .3);
  height: calc(var(--cloud-size) * .3);
  -webkit-border-radius: -webkit-calc(var(--cloud-size) * .15);
          border-radius: calc(var(--cloud-size) * .15);
}

.b1-cloud_3 .b1-cloud_light::after {
  left: -webkit-calc(var(--cloud-size) * 0.15);
  left: calc(var(--cloud-size) * 0.15);
  bottom: -webkit-calc(var(--cloud-size) - -webkit-calc(var(--cloud-size) * .9));
  bottom: calc(var(--cloud-size) - calc(var(--cloud-size) * .9));
}

.b1-cloud_4 {
  --cloud-size: -webkit-calc(var(--cloud-size-m) * .85);
  --cloud-size: calc(var(--cloud-size-m) * .85);
  left: 60%;
  top: 70%;
}

.b1-cloud_4::before {
  width: -webkit-calc(var(--cloud-size) * .3);
  width: calc(var(--cloud-size) * .3);
  height: -webkit-calc(var(--cloud-size) * .3);
  height: calc(var(--cloud-size) * .3);
  -webkit-border-radius: -webkit-calc(var(--cloud-size) * .15);
          border-radius: calc(var(--cloud-size) * .15);
}

.b1-cloud_5 {
  --cloud-size: -webkit-calc(var(--cloud-size-m) * 1.1);
  --cloud-size: calc(var(--cloud-size-m) * 1.1);
  left: 80%;
  top: 30%;
}

.b1-cloud_5 .b1-cloud_dark::before {
  bottom: -webkit-calc(var(--cloud-size) - -webkit-calc(var(--cloud-size) * .95));
  bottom: calc(var(--cloud-size) - calc(var(--cloud-size) * .95));
  left: -webkit-calc(var(--cloud-size) - -webkit-calc(var(--cloud-size) * 1.05));
  left: calc(var(--cloud-size) - calc(var(--cloud-size) * 1.05));
  height: -webkit-calc(var(--cloud-size) * .2);
  height: calc(var(--cloud-size) * .2);
  width: -webkit-calc(var(--cloud-size) * .2);
  width: calc(var(--cloud-size) * .2);
  -webkit-border-radius: -webkit-calc(var( --cloud-size) * .1);
          border-radius: calc(var( --cloud-size) * .1);
}

.b1-cloud_5 .b1-cloud_dark::after {
  left: -webkit-calc(var(--cloud-size) * 0.3);
  left: calc(var(--cloud-size) * 0.3);
}
